@import url(http://fonts.googleapis.com/css?family=Meddon);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

body {
    background-color: #f2f2f2;
}

footer {
    margin-top:20px;    
    right:0;
    bottom:0;
    left:0;
    background-color: #262626;
    text-align: center;
}

ul li {
    display: inline;
}

.social {
    margin-top: 10px;
}

    .social ul li a {
        padding: 10px 15px;
    }

.copyright {
    font-family: Oswald !important;
    font-size: 18px !important;
    font-weight: normal;
    color: #fff;
    margin-top: 12px;
    text-align: left;
}

.navbar {
    background-color: #262626;
    
}

.collapse {
    background-color: #262626;
}

.navbar li a {
    margin-bottom:5px !important;
    text-decoration: none;
    font-family: Oswald !important;
    font-size: 24px !important;
    font-weight: normal;
    color: #fff;
}

    .navbar li a:hover {
        border-radius: 10px;
        color: #000;
        background-color: #fff;
    }

    .navbar li a:focus {
        border-radius: 10px;
        color: #000;
        background-color: #fff;
    }

.dropdown-menu {
    background-color: #262626;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fafafa;
}

    .logo a {
        text-decoration: none;
        color: #262626;
    }

    .logo h1 {
        font-size: 48px !important;
    }

    .logo a h4 {
        font-size: 24px !important;
        color: #949494;
    }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #fff !important;
    color: #000;
    border-radius: 10px;
}


.icon-bar {
    color: white;
    background-color: white;
}

